.card{
    height: 500px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Outfit", sans-serif;
    text-align: center;
    box-shadow: 5px 5px 18px hsl(260, 6%, 38%);
      
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: auto;
    width: 100%;
    margin-top: 0;
    border-radius: 10px;
    padding-top: 0;
}

body{
    background-color: hsl(263, 44%, 83%);
    overflow: hidden;
}

p{
    font-size: 15px;
    line-height: 25px;
}
